openapi: 3.2.0
info:
  title: Trakt Comments API
  description: 'The Trakt API is a RESTful API for integrating TV show and movie tracking

    features into applications.'
  version: '2.0'
  contact:
    name: Trakt API Support
    url: https://forums.trakt.tv
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.trakt.tv
  description: Production
- url: https://api-staging.trakt.tv
  description: Staging
security:
- bearerAuth: []
tags:
- name: Comments
  description: Comment threads, replies, likes, reactions.
paths:
  /comments/{id}:
    get:
      tags:
      - Comments
      operationId: getComment
      summary: Get A Comment Or Reply
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Comment.
    put:
      tags:
      - Comments
      operationId: updateComment
      summary: Update A Comment Or Reply
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Comment updated.
    delete:
      tags:
      - Comments
      operationId: deleteComment
      summary: Delete A Comment Or Reply
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Deleted.
  /comments/{id}/like:
    post:
      tags:
      - Comments
      operationId: likeComment
      summary: Like A Comment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Liked.
    delete:
      tags:
      - Comments
      operationId: removeCommentLike
      summary: Remove Like On A Comment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Like removed.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token from /oauth/token or /oauth/device/token. Send via Authorization header and required headers trakt-api-version (2) and trakt-api-key (client_id).
