openapi: 3.2.0
info:
  title: Trakt Checkin API
  description: 'The Trakt API is a RESTful API for integrating TV show and movie tracking

    features into applications.'
  version: '2.0'
  contact:
    name: Trakt API Support
    url: https://forums.trakt.tv
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.trakt.tv
  description: Production
- url: https://api-staging.trakt.tv
  description: Staging
security:
- bearerAuth: []
tags:
- name: Check In
  description: Lightweight social "now watching" check-ins.
paths:
  /checkin:
    post:
      tags:
      - Check In
      operationId: createCheckin
      summary: Check Into An Item
      description: Check into a movie or episode. Sets the watching status; auto-expires after the runtime elapses.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinRequest'
      responses:
        '201':
          description: Checkin created.
        '409':
          description: Already checked in (conflict).
    delete:
      tags:
      - Check In
      operationId: deleteCheckin
      summary: Delete Any Active Checkins
      responses:
        '204':
          description: Active checkin cancelled.
components:
  schemas:
    CheckinRequest:
      type: object
      properties:
        movie:
          $ref: '#/components/schemas/Movie'
        episode:
          $ref: '#/components/schemas/Episode'
        sharing:
          type: object
          properties:
            twitter:
              type: boolean
            mastodon:
              type: boolean
            tumblr:
              type: boolean
        message:
          type: string
        venue_id:
          type: string
        venue_name:
          type: string
        app_version:
          type: string
        app_date:
          type: string
          format: date
    Movie:
      type: object
      properties:
        title:
          type: string
        year:
          type: integer
        ids:
          $ref: '#/components/schemas/Ids'
        tagline:
          type: string
        overview:
          type: string
        released:
          type: string
          format: date
        runtime:
          type: integer
        country:
          type: string
        trailer:
          type:
          - string
          - 'null'
          format: uri
        homepage:
          type:
          - string
          - 'null'
          format: uri
        rating:
          type: number
        votes:
          type: integer
        comment_count:
          type: integer
        updated_at:
          type: string
          format: date-time
        language:
          type: string
        languages:
          type: array
          items:
            type: string
        available_translations:
          type: array
          items:
            type: string
        genres:
          type: array
          items:
            type: string
        certification:
          type: string
        status:
          type: string
          enum:
          - released
          - in production
          - post production
          - planned
          - rumored
          - canceled
    Ids:
      type: object
      properties:
        trakt:
          type: integer
        slug:
          type: string
        imdb:
          type: string
        tmdb:
          type: integer
        tvdb:
          type: integer
    Episode:
      type: object
      properties:
        season:
          type: integer
        number:
          type: integer
        title:
          type: string
        ids:
          $ref: '#/components/schemas/Ids'
        number_abs:
          type:
          - integer
          - 'null'
        overview:
          type: string
        first_aired:
          type:
          - string
          - 'null'
          format: date-time
        runtime:
          type: integer
        episode_type:
          type: string
          enum:
          - standard
          - series_premiere
          - season_premiere
          - mid_season_finale
          - mid_season_premiere
          - season_finale
          - series_finale
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token from /oauth/token or /oauth/device/token. Send via Authorization header and required headers trakt-api-version (2) and trakt-api-key (client_id).
